body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}



/* header */

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header-address {
  display: flex;
}

.navigation {
  background-color: #fff;
  display: flex;

}

.title-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  width: 115px;
  height: 24px;
  margin: 24px 0 24px 156px;
}

.title-web {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  padding: 0;
  gap: 40px;
  margin: 24px 0 24px 76px;
}

.nav-list>li>a {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.nav-studio:hover,
.nav-studio:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
  margin: 24px 156px 24px 0;
  padding: 0;
}

.contacts>ul>li>a {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  letter-spacing: 0.02em;
}

/*  */



.contacts li {
  font-style: normal;
}

.contacts a {
  font-style: normal;
}

.contacts-link {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
}

.contacts-link:hover {
  color: #404bbf;
}

.contacts-link:focus {
  color: #404bbf;
}

/* hero */

.hero {
  background-color: #2e2f42;
  flex-shrink: 0;
  display: flex;
}

.title-hero {
  display: flex;
  max-width: 496px;
  max-height: 120px;
  color: #FFF;
  justify-content: center;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  margin: 188px auto 48px auto;
}

.button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: #4D5AE5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 0;
  color: #FFF;
  margin: 48px 635px 188px 636px;
}

.button-text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.button:focus {
  background-color: #404bbf;
}

.button:hover {
  background-color: #404bbf;
}

button:active {
  background-color: #404bbf;
}

/* strategy  */

.title-delete {
  display: none;
}

.section-strategy {
  margin-bottom: 60px;
}

.ul-strategy {
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin: 60px 156px;
}

.title-strategy {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.p-strategy {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


/* our-team */


.section-team {
  margin-bottom: 60px;
  background-color: #f4f4fd;

}

.title-team {
  display: flex;
  color: #2E2F42;
  justify-content: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-list-ul {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 60px;
}


/* ul-list */
.team-list {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* text */

.team-list-title {
  color: #2e2f42;
  align-items: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #2E2F42;
  text-align: center;
  margin: 0;
}

.team-list-text {
  display: block;
  text-align: center;
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* our-portfolio */

.title-portfolio-h2 {
  color: #2E2F42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.title-portfolio {
  display: flex;
  color: #2E2F42;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;

}

.work-ul {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0px;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  flex-shrink: 0;
}

.work-1 {
  border: 1px solid var(--CORNFLOWER, #E7E9FC);
  background: var(--WHITE, #FFF);
}

.section-portfolio {
  background-color: #fff;
}

.section-portfolio>h2 {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-portfolio>ul>li {
  background: #fff;
}

.section-portfolio>ul>li>h3 {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.title-portfolio {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.section-portfolio>ul>li>p {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* footer */

.footer {
  display: flex;
  background-color: #2e2f42;
}

.footer-container {
  display: inline-block;
}

.footer>p {
  color: var(--cloud, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;

}


.footer-logo {
  display: flex;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 50px auto 16px 156px;
  max-width: 115px;
  max-height: 24px;
}

.footer-text {
  display: flex;
  margin: 16px auto 100px 156px;
  max-width: 264px;
  color: #F4F4FD;
}

.footer-span {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}